@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white;
    font-size: x-large;
    font-family: 'italic';
}

body {
    background-color: hsl(220, 7%, 17%);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}